@import url("shared_css.css");

#projet{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#mesprojets{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    width: 45rem;
    height: 20rem;
    margin: auto;
    background-color: aliceblue;
    margin-bottom: 2%;
}

.card :hover{
    -ms-transform: scale(1.01); 
    -webkit-transform: scale(1.01); 
    transform: scale(1.01);

}
.row{
    margin: auto;
}
